.viflogo{
    height: 150px;
    margin-right: 50px;
}

.kamper_box{
    display: flex;
    flex-direction: column;
  }
  
  .kamper_header{
    margin-left: 800px;
    margin-top: 30px;
  }
  
  .header_kamper{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    margin-left: -50px;
  }

  .logo_container{
      display: flex;
      margin-left: 30px;
  }

  .kamper_nestekamp{
    margin-top: 70px;
    margin-left: 530px;
    border: 5px solid black;
    width: 720px;
    height: 450px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hamkamlogo{
      height: 150px;
      margin-left: 50px;
  }

  .vslogo{
      height: 60px;
      margin-top: 40px;
  }

  .nestekamp_info{
      width: 450px;
      margin-left: 50px;
      height: 20px;
      display: flex;
  }

  .nestekamp_header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 1800px;
    margin-top: 30px;
  }

  .nestekamp_header_motstander{
    font-size: 30px;
    font-weight: bold;
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: 45px;
    width: 300px;
}

.logo_nestekamp_eliteserien{
    z-index: -1;
    height: 90px;
}

.kamp_informasjon{
    width: 300px;
    margin-bottom: 0px;
}

.nestekamp_header_og_tekst{
    width: 300px;
}

.nestekamp_kanal{
    margin-top: 35px;
    width: 90px;
    height: 90px;
}

.text_kamp_informasjon{
    width: 250px;
}