.OmOss-logo-image {
  border-radius: 50%;
}

.OmOss_box {
  margin: 100px;
  margin-left: 450px;
}

.OmOss-logo-image {
  height: 250px;
  margin-right: 50px;
}

.OmOss-hamkam-logo-image {
  height: 250px;
  margin-right: 100px;
  margin-left: 50px;
}

.OmOss-liverpool-logo-image {
  height: 250px;
}

.om_oss_header {
  display: flex;
  width: 920px;
  margin-left: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.om_oss_fanpage_header {
  margin-left: -40px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.om_oss_hamkam_header {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.om_oss_liverpool_header {
  margin-right: -30px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.om_oss_tekst {
  display: flex;
  width: 1200px;
  margin-left: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.om_oss_fanpage_text {
  width: 300px;
  margin-left: -42px;
}

.om-oss-hamkam-text {
  width: 300px;
  margin-left: 50px;
}

.om_oss_liverpool_text {
  width: 300px;
}


.om_oss_boxes{
  margin: 100px;
  margin-left: 400px;
  display: flex;
}

.om_oss_fanpage_box{
    margin-right: 100px;
}

.om_oss_hamkam_box{
    margin-right: 100px;
}

.OmOss-logo-image{
    margin-left: -25px;
}