.menylinje {
  height: 100px;
}

.container-logo-image {
  border-radius: 50%;
  margin: 50px;
}

.container-box {
  display: flex;
  padding: 10px;
  margin-left: 200px;
}

.container-header {
  margin-top: 35px;
  font-size: 30px;
  font-weight: bold;
}

.container-textbox {
  width: 500px;
  max-width: 100%;
}

.container-tags {
  display: flex;
  width: 400px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-container-text {
  font-weight: bold;
}

.theme-header {
  color: grey;
}

.stadion_container {
  margin-left: 250px;
  margin-top: 70px;
}

.following-text {
  font-size: 10px;
}

.briskeby {
  height: 250px;
  border-radius: 5%;
  margin-right: 50px;
}

.anfield {
  height: 250px;
  border-radius: 5%;
}

.home_image_overskrift {
  display: flex;
  width: 600px;
  margin-left: 120px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_home_image_briskeby {
  font-size: 25px;
  font-weight: bold;
}

.header_home_image_anfield {
  font-size: 25px;
  font-weight: bold;
}

